<!--<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
  <a class="navbar-brand" href="#">Angular 8/9 Chart.js Examples</a>
</nav>

<div class="container">
  <div class="row">
    <div class="col-md-3">
      <ul class="list-group mb-4">
        <li class="list-group-item" routerLinkActive="active" routerLink="line-chart">Line Chart</li>
        <li class="list-group-item" routerLinkActive="active" routerLink="bar-chart">Bar Chart</li>
        <li class="list-group-item" routerLinkActive="active" routerLink="doughnut-chart">Doughnut Chart</li>
        <li class="list-group-item" routerLinkActive="active" routerLink="radar-chart">Radar Chart</li>
        <li class="list-group-item" routerLinkActive="active" routerLink="pie-chart">Pie Chart</li>
        <li class="list-group-item" routerLinkActive="active" routerLink="bubble-chart">Bubble Chart</li>
      </ul>
    </div>

    <div class="col-md-9">
      <router-outlet></router-outlet>
    </div>

  </div>
</div>-->

<!--<div class="container">
  <div class="row">
    <div class = "card">
      <header>
        <h2>                                     </h2>
      </header>
    </div>
    <div class="col-md-6">
      <div class="col-md-6"> 
        
        <h5>Total Number of Work Orders</h5>
      </div>
    </div>
    <div class="col-md-6">
      <app-bar-chart></app-bar-chart>
    </div>
    <!--<div class="col-md-6">
      <app-pie-chart></app-pie-chart>
    </div>-
    <div class="col-md-6">
      <app-doughnut-chart></app-doughnut-chart>
    </div>
    <div class="col-md-6"> 
      <app-stacked-bar-chart></app-stacked-bar-chart>
    </div>
  </div>
</div>-->

<!-- <div class = "container-fluid">
  <div class = "row">
     <div class = "col-6">
       
      <app-total-work-orders></app-total-work-orders>
      <app-maintenance-workload></app-maintenance-workload>
     </div>
     <div class = "col-6">
      <app-bar-chart></app-bar-chart>
     </div>
  </div>
  <div class = "row">
    <div class = "col-6">
      <app-doughnut-chart></app-doughnut-chart>
    </div>
    <div class = "col-6">
      <app-wopriorities-component></app-wopriorities-component>
      <app-stacked-bar-chart></app-stacked-bar-chart>
    </div>
 </div>
</div> -->

<!-- <app-total-work-orders></app-total-work-orders>
<app-bar-chart></app-bar-chart>
<app-doughnut-chart></app-doughnut-chart> -->


<!-- <div class="grid-container">
  <div class="grid-item">
    <app-total-work-orders></app-total-work-orders>
  </div>
  <div class="grid-item">
    <app-bar-chart></app-bar-chart>
  </div>
  <div class="grid-item">
    <app-doughnut-chart></app-doughnut-chart>
  </div>  
  <div class="grid-item">
    <app-wopriorities-component></app-wopriorities-component>
  </div>
  
</div> -->

<!-- <div class="container">
  <div class="row">
    <div class="col-6">
      <div class="card">
          <div class="card-body bg-info">
            <app-total-work-orders></app-total-work-orders>
          </div>
      </div>
  </div>
    <div class="col-6">
        <div class="card card bg-info">
            <div class="card-body">
              <app-bar-chart></app-bar-chart>
            </div>
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <div class="card">
          <div class="card-body bg-info">
            <app-doughnut-chart></app-doughnut-chart>
          </div>
      </div>
  </div>
    <div class="col-6">
        <div class="card">
            <div class="card-body bg-info">
              <app-wopriorities-component></app-wopriorities-component>
            </div>
        </div>
    </div>
  </div>     
</div> -->

<!-- <div class="container">
  <div class="row">
    <div class="p-3 col-sm-6">
      <div class="card">
        <div class="card-body bg-info">
          <app-total-work-orders></app-total-work-orders>
        </div>
      </div>
    </div>
    <div class="p-3 col-sm-6">
        <div class="card">
            <div class="card-body bg-info">
              <app-bar-chart></app-bar-chart>
            </div>
        </div>
    </div>
  </div>
  <div class="row">
    <div class="p-3 col-sm-6">
      <div class="card">
          <div class="card-body bg-info">
            <app-doughnut-chart></app-doughnut-chart>
          </div>
      </div>
    </div>  
    <div class="p-3 col-sm-6">
        <div class="card">
            <div class="card-body bg-info">
              <app-wopriorities-component></app-wopriorities-component>
            </div>
        </div>
    </div>
  </div>   
</div> -->

<div class="wrapper">
  <div></div>
  <div class="card cardcolor">
    <div class="card-body cardcolor">
      <app-total-work-orders></app-total-work-orders>
    </div>
  </div>
  <div class="card cardcolor">
    <div class="card-body cardcolor">
      <app-bar-chart></app-bar-chart>
    </div>
  </div>
  <div class='hidediv'></div>
  <div class='hidediv'></div>
  <!-- <div></div> -->
  <div class="card cardcolor">
    <div class="card-body cardcolor">
      <app-doughnut-chart></app-doughnut-chart>
    </div>
  </div>
  <div class="card cardcolor">
    <div class="card-body cardcolor">
      <app-wopriorities-component></app-wopriorities-component>
    </div>
  </div>
  <div>
  </div>
</div>

