  
  div.relative {
    /* width:100%;
    height:100%; */
    height: 250px;
    /* height: 100%; */
    /* position: relative;
    max-width:300px;
    width: 620px;
    
    margin: auto;
    resize: both;
    overflow: auto; */
    /* border: 3px solid lightblue; */
  } 
  /*
  div.absolute {
    position: absolute;
    top: 70px;
    right: 220px;
    width: 200px;
    max-width:200px;
    height: 100px;
    margin: auto;
    border: 3px solid lightblue;
  } */

  .center {
    text-align: center;
    /* border: 3px solid skyblue; */
  }

  .flex-container {
    display: flex;
    /* background-color: DodgerBlue; */
    flex-direction: column;
  }
  
  .flex-container > div {
    /* background-color: #f1f1f1; */
    margin: 10px;
    padding: 20px;
    font-size: 30px;
  }

  .nestedwrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1em;
}